In [1]:
import pandas as pd
import numpy as np

In [2]:
pfac = pd.read_csv('PFACFFinal.csv')
df = pd.read_csv('scenery.csv', encoding = "ISO-8859-1")
print('Size of the dataset: ' + str(df.shape[0]))

pfac = pfac.transpose()
pfac.reset_index(inplace = True)

#reset the header of the df
new_header = pfac.iloc[0]
pfac = pfac[1:]
pfac.columns = new_header

pfac.loc[3]
print(pfac.shape[1])

Size of the dataset: 29747
43

In [3]:
#find the county
def matchCounty(area):
    for i in pfac.columns:
        if area in list(pfac[i]):
            return i
    return np.nan

matchCounty('Gloucestershire')

'Gloucestershire'

In [4]:
#the unique
len(df['County'].unique())

191

In [5]:
df['County'].unique()

array(['Gloucestershire', 'Cheshire', 'Isle of Man', 'Conwy',
       'North Yorkshire', 'Flintshire/Sir y Fflint', 'Hampshire',
       'Wokingham', 'West Berkshire', 'Kent', 'Poole', 'Dorset',
       'Windsor And Maidenhead', 'Surrey', 'Bracknell Forest',
       'Hertfordshire', 'Bedfordshire', 'Derbyshire', 'Great Britain',
       'Dumfries And Galloway', 'East Riding of Yorkshire',
       'Argyll And Bute', 'North Ayrshire', 'Lincolnshire',
       'Rhondda Cynon Taff/Rhondda Cynon Taf', 'Northamptonshire',
       'Highland', 'Worcestershire', 'Nottinghamshire', 'Northumberland',
       'Na h-Eileanan an Iar', 'Cornwall', 'Pembrokeshire/Sir Benfro',
       'West Sussex', 'Gwynedd', 'Cumbria', 'Devon', 'Essex',
       'The Vale of Glamorgan/Bro Morgannwg', 'Staffordshire',
       'Redcar And Cleveland', 'Scottish Borders', 'Manchester',
       'Suffolk', 'Salford', 'Wirral', 'Bath And North East Somerset',
       'Lancashire', 'County Durham', 'Tameside', 'Warwickshire',
       'Cambridgeshire', 'Birmingham', 'Rutland', 'Shetland Islands',
       'Somerset', 'Warrington', 'Shropshire', 'Perth And Kinross',
       'Aberdeenshire', 'Oxfordshire', 'Angus', 'Bury', 'Wiltshire',
       'South Lanarkshire', 'Moray', 'Isle of Anglesey/Sir Ynys Mon',
       'Buckinghamshire', 'Leeds', 'Stirling', 'Milton Keynes',
       'Solihull', 'Derby', 'Leicestershire', 'Wakefield',
       'Orkney Islands', 'North Tyneside', 'Powys',
       'South Gloucestershire', 'East Lothian', 'Southampton',
       'North Lanarkshire', 'Clackmannanshire', 'East Sussex',
       'South Tyneside', 'Isle of Wight', 'Fife', 'Telford And Wrekin',
       'Midlothian', 'Herefordshire', 'East Ayrshire', 'South Ayrshire',
       'Dundee', 'Carmarthenshire/Sir Gaerfyrddin', 'Reading',
       'Portsmouth', 'Torbay', 'Plymouth', 'Falkirk',
       'Ceredigion/Sir Ceredigion', 'North Lincolnshire', 'Aberdeen',
       'Enfield', 'Norfolk', 'Middlesbrough', 'York', 'Bradford',
       'Waltham Forest', 'Sandwell', 'East Renfrewshire',
       'Isles of Scilly', 'Bridgend/Pen-y-Bont ar Ogwr', 'Darlington',
       'Hartlepool', 'West Lothian', 'Renfrewshire',
       'Monmouthshire/Sir Fynwy', 'Newcastle Upon Tyne',
       'Stockton-on-Tees', 'Richmond Upon Thames', 'Harrow', 'Ealing',
       'Havering', 'Coventry',
       'Neath Port Talbot/Castell-Nedd Port Talbot', 'Swansea/Abertawe',
       'Greenwich', 'Redbridge', 'Hillingdon', 'St Helens', 'Knowsley',
       'Kingston Upon Thames', 'Wandsworth', 'Hounslow', 'Sutton',
       'Trafford', 'Merton', 'Bolton', 'Thurrock', 'Rochdale', 'Medway',
       'Denbighshire/Sir Ddinbych', 'Barnet', 'Slough', 'Calderdale',
       'Ceredigion', 'Croydon', 'Merthyr Tydfil/Merthyr Tudful',
       'North Somerset', 'Edinburgh', 'Peterborough', 'Cardiff/Caerdydd',
       'Inverclyde', 'Brent', 'Wigan', 'East Dunbartonshire', 'Sefton',
       'Stoke-on-Trent', 'Sheffield', 'Blackburn With Darwen', 'Bromley',
       'Barnsley', 'Glasgow', 'Stockport', 'Blackpool',
       'Barking And Dagenham', 'Liverpool', 'Bournemouth', 'Kirklees',
       'Gateshead', 'Halton', 'Oldham', 'Doncaster', 'Wrexham/Wrecsam',
       'Brighton And Hove', 'Bexley', 'Lewisham', 'Denbighshire',
       'Rotherham', 'North East Lincolnshire', 'Bristol',
       'Newport/Casnewydd', 'Caerphilly/Caerffili', 'Sunderland', 'Luton',
       'Swindon', 'Carmarthenshire', 'Southend-on-Sea', 'Newham',
       'Walsall', 'Blaenau Gwent'], dtype=object)

In [6]:
df['County'] = df['County'].apply(matchCounty)
len(df['County'].unique())

43

In [7]:
sum(df['County'].isnull())

8623

In [8]:
df['County'].unique()

array(['Gloucestershire', 'Cheshire', nan, 'North Wales',
       'North Yorkshire', 'Hampshire', 'Thames Valley', 'Kent', 'Dorset',
       'Surrey', 'Hertfordshire', 'Bedfordshire', 'Derbyshire',
       'Humberside', 'Lincolnshire', 'South Wales', 'Northamptonshire',
       'West Mercia', 'Nottinghamshire', 'Northumbria',
       'Devon and Cornwall', 'Sussex', 'Cumbria', 'Essex',
       'Staffordshire', 'Greater Manchester', 'Suffolk', 'Merseyside',
       'Avon and Somerset', 'Lancashire', 'Durham', 'Warwickshire',
       'Cambridgeshire', 'West Midlands', 'Leicestershire', 'Wiltshire',
       'West Yorkshire', 'Dyfed-Powys', 'Metropolitan Police', 'Norfolk',
       'Cleveland', 'South Yorkshire', 'Gwent'], dtype=object)

In [9]:
df['County'].head(100)

0        Gloucestershire
1        Gloucestershire
2        Gloucestershire
3               Cheshire
4               Cheshire
5                    NaN
6                    NaN
7                    NaN
8                    NaN
9                    NaN
10           North Wales
11       North Yorkshire
12              Cheshire
13           North Wales
14              Cheshire
15              Cheshire
16             Hampshire
17         Thames Valley
18         Thames Valley
19         Thames Valley
20         Thames Valley
21             Hampshire
22                  Kent
23                Dorset
24                Dorset
25                  Kent
26         Thames Valley
27         Thames Valley
28         Thames Valley
29         Thames Valley
             ...
70      Northamptonshire
71                   NaN
72                   NaN
73           West Mercia
74           West Mercia
75       Nottinghamshire
76           West Mercia
77           Northumbria
78                   NaN
79             Hampshire
80             Hampshire
81             Hampshire
82             Hampshire
83    Devon and Cornwall
84         Hertfordshire
85           South Wales
86             Hampshire
87             Hampshire
88             Hampshire
89             Hampshire
90             Hampshire
91         Thames Valley
92                Sussex
93         Hertfordshire
94         Hertfordshire
95           North Wales
96           North Wales
97         Hertfordshire
98           North Wales
99         Hertfordshire
Name: County, Length: 100, dtype: object