## Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

## Read income data's Tabel 1 & PFAC 2

In [2]:
# df_income_table1: Total GDHI at current basic prices
income_data_file = '../data/income_table1mod.csv'
df_income = pd.read_csv(income_data_file)
df_income = df_income.drop(columns=['2016'])

#read the pfac data, which shows the actuall police control area of the county
pfac2 = pd.read_csv('../data/PFAC 2.csv')

#switch the colomns and rows for pfac data
pfac2 = pfac2.transpose()
pfac2.reset_index(inplace = True)

#reset the header of the pfac data
new_header = pfac2.iloc[0]
pfac2 = pfac2[1:]
pfac2.columns = new_header

## modified dataframe

In [3]:
#find the county
def matchCounty(area):
    for i in pfac2.columns:
        if area in list(pfac2[i]):
            return i
    return area

In [4]:
# change 'Region name' to 'Police force area'
df_income['Region name'] = df_income['Region name'].apply(matchCounty)
df_income['Region name'].unique()

array(['Cleveland', 'Durham', 'Northumbria', 'Cumbria',
       'Greater Manchester', 'Lancashire', 'Cheshire', 'Merseyside',
       'Humberside', 'North Yorkshire', 'South Yorkshire',
       'West Yorkshire', 'Derbyshire', 'Nottinghamshire',
       'Leicestershire', 'Northamptonshire', 'Lincolnshire',
       'West Mercia', 'Warwickshire', 'Staffordshire', 'West Midlands',
       'Cambridgeshire', 'Suffolk', 'Norfolk', 'Bedfordshire',
       'Hertfordshire', 'Essex', 'City of London', 'Metropolitan Police',
       'Hounslow and Richmond upon Thames', 'Thames Valley', 'Sussex',
       'Surrey', 'Hampshire', 'Kent', 'Avon and Somerset',
       'Gloucestershire', 'Wiltshire', 'Dorset and Somerset',
       'Devon and Cornwall', 'North Wales', 'South West Wales',
       'Central Valleys', 'Gwent', 'South Wales', 'East Wales',
       'Dyfed-Powys'], dtype=object)

In [5]:
import statistics

# change 'Region name' column to 'County'
df_income['County'] = df_income['Region name']
df_income = df_income.drop(columns=['Region name'])

# sum all the same County
aggregation_functions = {'2017': 'sum'}
df_income = df_income.groupby(df_income['County']).aggregate(aggregation_functions)
df_income

                                     2017
County
Avon and Somerset                   22090
Bedfordshire                        12258
Cambridgeshire                      16798
Central Valleys                      4264
Cheshire                            19291
City of London                      25081
Cleveland                            8706
Cumbria                              9239
Derbyshire                          17548
Devon and Cornwall                  30738
Dorset and Somerset                 25731
Durham                               9785
Dyfed-Powys                          2197
East Wales                          19455
Essex                               36431
Gloucestershire                     12979
Greater Manchester                  45078
Gwent                                4946
Hampshire                           40874
Hertfordshire                       29164
Hounslow and Richmond upon Thames   14107
Humberside                          14549
Kent                                37079
Lancashire                          24011
Leicestershire                      17853
Lincolnshire                        12841
Merseyside                          24768
Metropolitan Police                220476
Norfolk                             15326
North Wales                          6519
North Yorkshire                     16316
Northamptonshire                    14300
Northumbria                         23320
Nottinghamshire                     18253
South Wales                         25228
South West Wales                     6079
South Yorkshire                     21038
Staffordshire                       19070
Suffolk                             13893
Surrey                              33683
Sussex                              36780
Thames Valley                       56517
Warwickshire                        12498
West Mercia                         24377
West Midlands                       43015
West Yorkshire                      35946
Wiltshire                           14003